<form nz-form [formGroup]="group">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>原密码</nz-form-label>
    <nz-form-control [nzSpan]="20" nzErrorTip="请输入原密码!">
      <input type="password" nz-input formControlName="oldPwd"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>新密码</nz-form-label>
    <nz-form-control [nzSpan]="20" [nzErrorTip]="n_tip">
      <input type="password" nz-input formControlName="newPwd"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>确认密码</nz-form-label>
    <nz-form-control [nzSpan]="20" [nzErrorTip]="c_tip">
      <input type="password" nz-input formControlName="confirm"/>
    </nz-form-control>
  </nz-form-item>
</form>
