<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.heycm.minio.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.heycm.minio.model.File">
        <id column="id" property="id" />
        <result column="file_uuid" property="fileUuid" />
        <result column="file_name" property="fileName" />
        <result column="file_suffix" property="fileSuffix" />
        <result column="file_size" property="fileSize" />
        <result column="file_type" property="fileType" />
        <result column="file_url" property="fileUrl" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_uuid, file_name, file_suffix, file_size, file_type, file_url, is_deleted
    </sql>

</mapper>
