/* You can add global styles to this file, and also import other style files */
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;

  &:hover {
    background-color: #1890ff33;
  }
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #1890ff88;
  border-radius: 2px;

  &:hover {
    background-color: #1890ff;
  }
}
